# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
.DS_Store
.Rproj.user
.Rdata
2026/07/500px-Nikola_Jokic_free_throw_(cropped).webp
2026/07/jokic.png
2026/21/51000-0008_de_flat.csv
2026/28/12421-0001_de_flat.csv
2026/30/IHME_EXPECTED_HEALTH_SPENDING_2023_2050_Y2025M11D06.CSV
2026/05/bike.png
2026/05/e-bike.png
2026/02/aufzug.png
2026/18/fusion_GLOBAL_DATAFLOW_UNICEF_1.0_.DM_POP_ADLCNT_PROP..csv
.gitignore
2026/18/fusion_GLOBAL_DATAFLOW_UNICEF_1.0_.DM_POP_TOT..csv
